/bin/
*.properties
*target*
*target/*
target
.settings
*.settings
build.gradle
settings.gradle
.project
.classpath
*gradle*
*gradlew
gradlew.*
settings.*
*settings.*

*build.gradle
*settings.gradle
*.project
*.classpath
*.factorypath
.settings/*
*.settings/
application.properties
*.properties
*bin/
*/bin/
*/application.properties