<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin.html}">
<body>

	<div class="tabbable" layout:fragment="body">
		<div th:replace="fragments/admin_tabs :: adminTab" />
		<div class="tab-content">
			<div class="tab-pane active" id="catalogue-section">
				<div class="sm-ui-component">
					<h3 th:if="#{boxes==true}">
						Content boxes</h3>
					<h3 th:unless="#{boxes==true}">
						Content pages</h3>
					<br />


					<script th:inline="javascript">
						var boxes = /*[[${boxes==true}]]*/false;
						if (boxes) {
							var pagingUrl = "/admin/content/page.html?contentType=BOX";
							var removeUrl = "/admin/content/remove.html";
							var refreshUrl = "/admin/content/boxes/list.html";
							var editUrl = "/admin/content/boxes/details.html";
							var componentTitleKey = "Content boxes";
						} else {
							var pagingUrl = "/admin/content/page.html?contentType=PAGE";
							var removeUrl = "/admin/content/remove.html";
							var refreshUrl = "/admin/content/pages/list.html";
							var editUrl = "/admin/content/pages/details.html";
							var componentTitleKey = "Content pages";

						}
						var appendQueryStringToEdit = /*[[${appendQueryStringToEdit!=null && appendQueryStringToEdit!=''}]]*/false;

						var afterRemoveUrl = /*[[${afterRemoveUrl}]]*/null;
						isc.RestDataSource.create({
							ID : "dataSource",
							dataFormat : "json",
							operationBindings : [ {
								operationType : "fetch",
								dataProtocol : "postParams",
								dataURL : pagingUrl
							}, {
								operationType : "remove",
								dataProtocol : "postParams",
								dataURL : removeUrl
							}, {
								operationType : "update",
								dataProtocol : "postParams",
								dataURL : "/*[[${updateUrl}]]*/"
							}, ],
							transformResponse : function(dsResponse, dsRequest,
									jsonData) {

								var status = isc.XMLTools.selectObjects(
										jsonData, "/response/status");
								//alert('check status ' + status);
								if (status != 0) {
									if (status == 9999) {//operation completed
										//reload
										if (afterRemoveUrl
												&& afterRemoveUrl != null) {
											window.location = afterRemoveUrl;
										}
										if (refreshUrl != null) {
											window.location = refreshUrl;
										}
									} else {

										var msg = isc.XMLTools.selectObjects(
												jsonData,
												"/response/statusMessage");
										alert("! " + msg);
									}
								}
							}
						});

						isc.ListGrid
								.create({
									ID : "entityList",
									border : 1,
									dataSource : "dataSource",
									showRecordComponents : true,
									showRecordComponentsByCell : true,
									canRemoveRecords : "[(${canRemoveEntry})]",
									autoFetchData : true,
									showFilterEditor : true,
									filterOnKeypress : true,
									dataFetchMode : "paged",
									canEdit : /*[[${canEdit}]]*/true,
									editByCell : true,
									editEvent : "click",

									fields : [ {
										title : "[(#{label.entity.id})]",
										name : "id",
										canFilter : false
									}, {
										title : "[(#{label.entity.code})]",
										name : "code",
										canFilter : false
									}, {
										title : "[(#{label.entity.name})]",
										name : "name",
										canFilter : false
									}, {
										title : "[(#{label.entity.details})]",
										name : "buttonField",
										align : "center",
										canFilter : false,
										canSort : false,
										canReorder : false
									}

									],
									selectionType : "multiple",
									removeData : function() {
										if (confirm('Do you really want to remove this record ?')) {
											return this.Super("removeData",
													arguments);
										}
									},
									fetchData : function() {
										return this.Super("fetchData",
												arguments);
									},
									/*[# th:if="${expandDetails!=null && expandDetails!=''}"]*/
									canExpandRecords : true,
									expansionMode : "detailField",
									detailField : "[(${expandDetails})]",
									/*[/]*/

									/*[# th:if="${groupByEntity!=null && groupByEntity!=''}"]*/
									groupStartOpen : "all",
									groupByField : '[(${groupByEntity})]',
									/*[/]*/
									createRecordComponent : function(record,
											colNum) {
										var fieldName = this
												.getFieldName(colNum);
										if (fieldName == "buttonField") {

											var button = isc.IButton
													.create({
														height : 18,
														width : 65,
														title : "[(#{label.entity.details})]",
														click : function() {

															var url = editUrl;
															var queryString = '?id='
																	+ record["[(${entityId})]"];
															if (appendQueryStringToEdit) {
																queryString = queryString
																		+ '&[(${appendQueryStringToEdit})]';
															}

															var locationUrl = url
																	+ queryString;
															window.location = locationUrl;

														}
													});
											return button;

										}

									}

								});

						// Define application layout
						// ---------------------------------------------------------------------

						isc.HLayout.create({
							ID : "pageLayout",
							width : "700",
							height : "600",
							position : "relative",
							members : [ isc.SectionStack.create({
								ID : "mainLayout",
								visibilityMode : "multiple",
								animateSections : true,
								sections : [ {
									title : "[(${componentTitleKey})]",
									autoShow : true,
									items : [ entityList ]
								} ]
							}) ]
						});

						isc.Page.setEvent("load", "pageLayout.draw()");
					</script>

				</div>

			</div>

		</div>

	</div>

</body>
</html>