<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base.html}">
<body>
	<th:block layout:fragment="body">
	<div id="main-content" class="row-fluid show-grid">
		<h1>Review your order</h1>
		<div id="store.error" class="alert alert-error" style="display: none;">
			An error occurred while updating the shopping cart
		</div>
		<br />
		<table id="mainCartTable" class="table table-bordered table-striped">
			<th:block th:if="${cart != null}">
				<th:block th:if="${cart.shoppingCartItems != null && !cart.shoppingCartItems.empty}">
					<th:block th:each="shoppingCartItem, itemStatus : ${cart.shoppingCartItems}">
						<th:block th:if="${itemStatus.index == 0}">
							<thead>
								<tr>
									<th colspan="2" width="55%" th:text="#{label.generic.item.title}">Item</th>
									<th colspan="2" width="15%" th:text="#{label.quantity}">Quantity</th>
									<th width="15%" th:text="#{label.generic.price}">Price</th>
									<th width="15%" th:text="#{label.order.total}">Total</th>
								</tr>
							</thead>
							<tbody>
						</th:block>
						<form th:object="${updateShoppingCartItemUrl}"
							th:id="'shoppingCartLineitem_'+ ${shoppingCartItem.id}"
							action="/shop/cart/shoppingCart.html">
							<tr>
								<td width="10%">
									<img th:if="${shoppingCartItem.image!=null}" width="60" th:src="${shoppingCartItem.image}" />
								</td>
								<td style="border-left: none;">
									<strong th:text="${shoppingCartItem.name}">Name</strong> 
									<th:block
										th:if="${shoppingCartItem.shoppingCartAttributes.size() > 0}">
										<br />
										<ul>
											<li th:each="option : ${shoppingCartItem.shoppingCartAttributes}"
												th:text="${option.optionName} + '' + ${option.optionValue}" />
										</ul>
									</th:block>
								</td>
								<td>
									<input type="number" class="input-small quantity"
										placeholder="Quantity" th:value="${shoppingCartItem.quantity}"
										name="quantity" th:id="${shoppingCartItem.id}"
										th:readonly="${shoppingCartItem.productVirtual==true}" />
								</td>
								<td style="border-left: none;">
									<button class="close"
										onclick="javascript:updateLineItem('[${shoppingCartItem.id}]','[${removeShoppingCartItemUrl}]');">&times;</button>
								</td>
								<td><strong th:text="${shoppingCartItem.price}"></strong></td>
								<td><strong th:text="${shoppingCartItem.subTotal}"></strong></td>
								<input type="hidden" name="lineItemId" id="lineItemId"
									th:value="${shoppingCartItem.id}" />
							</tr>
						</form>
					</th:block>

					<tr class="subt" th:each="total : ${cart.totals}">
						<td colspan="2">&nbsp;</td>
						<td colspan="3"><strong
							th:text="#{${total.code}}"></strong></td>
						<td><strong th:text="${total.value}"></strong></td>
					</tr>

				</th:block>
				<tr th:unless="${cart.shoppingCartItems != null && !cart.shoppingCartItems.empty}">
					<td>Your Shopping cart is empty</td>
				</tr>

			</th:block>
			<th:block th:if="${cart != null && cart.shoppingCartItems != null && !cart.shoppingCartItems.empty}">
				</tbody>
			</th:block>
			
		</table>

		<th:block th:if="${cart != null}">
			<th:block th:if="${!cart.shoppingCartItems.empty }">
				<div class="pull-right">
					<div class="form-actions">
						<button type="button" class="btn"
							onClick="javascript:updateCart('#mainCartTable');">
							Racalculate</button>
							<button id="checkoutButton" type="submit" class="btn btn-success">
								Place your order</button>
						</div>
				</div>
			</th:block>
		</th:block>

		<th:block th:if="${ cart == null}">
			<script>
				$(document)
						.ready(
								function() {
									var cartCode = getCartCode();
									if (cartCode != null) {
										console.log('cart code ' + cartCode);
										location.href = '/shop/cart/shoppingCartByCode.html?shoppingCartCode='
												+ cartCode;
									}
								});
			</script>
		</th:block>

		<script>
			$(document).ready(function() {
				$("input[type='text']").keypress(function(e) {
					if (e.which == 13) {
						e.preventDefault();
					}
				});
				$('#checkoutButton').click(function(e) {
					location.href = '/shop/order/checkout.html';
				});
			});
		</script>

	</div>
	</th:block>
</body>
</html>

