<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="fragments/admin_layout::head_script" />
    
	<body>
		<th:block layout:fragment="extra_script"/>
		
		<div class="sm">
			<div name="header" th:replace="fragments/admin_layout::header"/>
			<div class="container">
				<div class="row">
					<nav name="navbar" th:replace="fragments/admin_layout::navbar"/>
				
					<div class="span9">
						<div name="body" layout:fragment="body"/>
					</div>
				</div>
			</div>
			
			<div name="footer" th:replace="fragments/admin_layout::footer"/>
		</div>
	<!-- end container -->
		<div th:replace="fragments/admin_layout::footer_script" />
  	</body>
</html>