<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin.html}">
<body>
	<th:block layout:fragment="extra_script">

		<script th:inline="javascript" type="text/javascript">
			$(function(){
				if($("#adminName").val()=="") {
					$('.btn').addClass('disabled');
				}
			});
		
		
			function validateCode() {
				$('#checkCodeStatus').html('<img src="/resources/img/ajax-loader.gif" />');
				$('#checkCodeStatus').show();
				var adminName = $("#adminName").val();
				var id = $("#id").val();
				checkCode(adminName,id,'/admin/users/checkUserCode.html');
			}
		
			function callBackCheckCode(msg,code) {
				
				if(code==0) {
					$('.btn').removeClass('disabled');
				}
				if(code==9999) {
	
					$('#checkCodeStatus').html('<font color="green">This code is available</font>');
					$('#checkCodeStatus').show();
					$('.btn').removeClass('disabled');
				}
				if(code==9998) {
	
					$('#checkCodeStatus').html('<font color="red">This code already exist</font>');
					$('#checkCodeStatus').show();
					$('.btn').addClass('disabled');
				}
				
			}
		
			
		</script>
	</th:block>

	<div class="tabbable" layout:fragment="body">

		<div th:replace="fragments/admin_tabs :: adminTab" />
		<div id="messages" class="alert alert-info" style="display: none"></div>
		<div class="tab-content">
			<div class="tab-pane active" id="catalogue-section">
				<div class="sm-ui-component">
					<h3 th:if="${user.id!=null && user.id>0}" th:text="'Edit user '+ ${user.adminName}"/>
					<h3 th:unless="${user.id!=null && user.id>0}">Create user</h3>
				<br/>

				<form method="POST" th:object="${user}"
					action="/admin/users/save.html">
					<th:block th:if="${#fields.hasAnyErrors()}">
						<div id="store.error" class="alert alert-error"
							style="display: none;">An error occured</div>
						<div class="alert alert-error"
							th:each="err : ${#fields.allErrors()}" th:text="${err}" />
					</th:block>
		
					<div id="store.success" th:text="#{message.success}"
						class="alert alert-success"
						th:style="${success!=null ? 'display:block;' : 'display:none;'}">
						Request successfull</div>
		
					<div class="control-group">
		
						<label th:for="${#ids.next('user.adminName')}">User Name</label>
						<div class="controls">
							<input class="input-large highlight" th:field="*{adminName}" /> <span
								class="help-inline" th:errorclass="error" th:errors="*{adminName}"
								th:if="${#fields.hasErrors('adminName')}" />
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.merchantStore')}">Merchant Store</label>
						<div class="controls">
							<select class="country-list highlight"
								th:field="*{merchantStore}">
								<option th:each="ctr : ${stores}" th:value="${ctr.id}"
									th:text="${ctr.code}" />
							</select> <span class="help-inline" th:errorclass="error"
								th:errors="*{merchantStore}" />
						</div>
					</div>
					
		
					<div class="control-group">
						<label th:for="${#ids.next('user.adminEmail')}">Email</label>
						<div class="controls">
							<input class="input-large highlight" th:field="*{adminEmail}" /> <span
								class="help-inline" th:errorclass="error"
								th:errors="*{adminEmail}"
								th:if="${#fields.hasErrors('adminEmail')}" />
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.adminPassword')}">Password</label>
						<div class="controls">
							<input type="password" class="input-large highlight" th:field="*{adminPassword}" /> <span
								class="help-inline" th:errorclass="error"
								th:errors="*{adminPassword}"
								th:if="${#fields.hasErrors('adminPassword')}" />
						</div>
					</div>
		
					<div class="control-group">
						<label th:for="${#ids.next('user.firstName')}">First Name</label>
						<div class="controls">
							<input class="input-large highlight"
								th:field="*{firstName}" /> <span class="help-inline"
								th:errorclass="error" th:errors="*{firstName}" />
						</div>
					</div>
		
					<div class="control-group">
						<label th:for="${#ids.next('user.lastName')}">Last Name</label>
						<div class="controls">
							<input class="input-large" th:field="*{lastName}" /> <span
								class="help-inline" th:errorclass="error"
								th:errors="*{lastName}" />
						</div>
					</div>
		
		
					<div class="control-group">
						<label th:for="${#ids.next('user.defaultLanguage')}">Default language</label>
						<div class="controls">
							<th:block th:each="lng, stat : ${languages}" th:if="${lng != null}">
								<input type="checkbox" th:field="*{defaultLanguage}" th:value="${lng.id}" class="highlight"/>
								<label th:for="${#ids.prev('defaultLanguage')}" th:text="${lng.code}">
									Language</label>
							</th:block>
		
							<span class="help-inline" th:errorclass="error"
								th:errors="*{defaultLanguage}" />
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.groups')}">Groups</label>
						<div class="controls">
							<th:block th:each="grp, stat : ${groups}" th:if="${grp != null}">
								<input type="checkbox" th:field="*{groups}" th:value="${grp.id}" class="highlight"/>
								<label th:for="${#ids.prev('groups')}" th:text="${grp.groupName}">
									Language</label>
							</th:block>
		
							<span class="help-inline" th:errorclass="error"
								th:errors="*{groups}" />
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.active')}">Active</label>
						<div class="controls">
							<input class="input-large highlight" th:field="*{active}" /> <span
								class="help-inline" th:errorclass="error" th:errors="*{active}" />
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.question1')}">Question 1</label>
						<div class="controls">
							<select th:field="*{question1}">
								<option th:each="qn : ${questions}" th:value="${qn.label}"
									th:text="${qn.label}" />
							</select> 
							<input type="text" th:field="*{answer1}"/>
							<span class="help-inline" th:errorclass="error" th:errors="*{answer1}"></span>
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.question2')}">Question 2</label>
						<div class="controls">
							<select th:field="*{question2}">
								<option th:each="qn : ${questions}" th:value="${qn.label}"
									th:text="${qn.label}" />
							</select> 
							<input type="text" th:field="*{answer2}"/>
							<span class="help-inline" th:errorclass="error" th:errors="*{answer2}"></span>
						</div>
					</div>
					
					<div class="control-group">
						<label th:for="${#ids.next('user.question3')}">Question 3</label>
						<div class="controls">
							<select th:field="*{question3}">
								<option th:each="qn : ${questions}" th:value="${qn.label}"
									th:text="${qn.label}" />
									
							</select> 
							<input type="text" th:field="*{answer3}"/>
							<span class="help-inline" th:errorclass="error" th:errors="*{answer3}"></span>
						</div>
					</div>
		
					<input type="hidden" th:field="*{id}" /> 
					<input type="hidden" th:if="${user.id!=null && user.id>0}" th:field="*{adminPassword}" /> 
		
					<div class="form-actions">
						<div class="pull-right">
							<button type="submit" class="btn btn-success"
								th:text="#{button.label.submit2}">Submit</button>
						</div>
					</div>
		
				</form>
			</div>
		</div>
	</div>
</body>
</html>